body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h2 {
  margin: 0px;
  color: black;
}

a {
  color:black;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #1C688E;
}

#search-input {
  width: 93%;
  height: 48px;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 0px 10px;
}

main {
  width: 100%;
}

#left-column {
  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 25%;
  float: left;
  font-weight: 500;
}

#left-column-content {
  width: 70%;
  margin-top: 4%;
}

#facets > h5 {
  font-size: 14px;
  margin-top: 10%;
  margin-bottom: 5%;
}

#facets img {
  width: 20px;
  height: 20px;
}

#facets {
  margin-left: 5%;
  font-size: 13px;
}

.facet {
  margin-left: 2%;
}

.facet a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 5px;
}

.facet a:hover {
  background-color: #2897C5;
  border-radius: 5px;
  color: white;
}

a[data-facet="stars"]:hover {
  background-color: snow;
  border-radius: 5px;
}

.facet a:hover span{
  color: white;
}

.facet-count {
  margin-left: auto;
  color: #B6B6B6;
}

.facet-refined {
  background-color: #2897C5;
  border-radius: 5px;
  color: white;
}

.facet-refined[data-facet="stars"] {
  background-color: snow;
  border-radius: 5px;
}

.facet-refined span {
  color: white;
}

#right-column {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height:100%;
  width: 73%;
  border-left: 1px #E6E6E6 solid;
}

#right-column-content {
  width: 90%;
  margin-top: 2%;
}

.hit {
  display: flex;
  width: 100%;
  margin-top: 2%;
  color: #B6B6B6;
  font-size: 14px;
}

.hit-name {
  font-size: 16px;
  font-weight: normal;
}

.hit-image {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
}

.hit-image img{
  width: 100%;
  height: auto;
}

.hit-content {
  margin-left: 3%;
}

.review {
  display: flex;
  margin-top: 10px;
}

.hit-stars-count {
  color: #FBAE00;
  align-self: flex-end;
}

.hit-stars {
  margin-left: 10px;
}

.hit-reviews-count {
  align-self: flex-end;
  margin-left: 15px;
}

.ais-star-rating--count {
  display: none;
}

.hit-food-type {
  margin-top: 7px;
}

#show-more {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

#show-more > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  color: #B6B6B6;
  border: 1px #E6E6E6 solid;
}
